// {
//     "presets":[
//         "@babel/presets-env",
//         {
//             "useBuiltIns": "entry",
//             //"corejs:"3"
//         }
//     ]
// }

{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "entry",
          "corejs": "3"
        }
      ]
    ]
  } 